:root {
    --topbar-height: calc(30px + 5%);
    --sidebar-width: calc(150px + 5%);

    --background-main: #CCCCCC;
    --background-light: #EEEEEE;
    --background-dark: #AAAAAA;
    --text-primary-color: #000000;
    --text-secondary-color: #777777;
    --border-color: #A0A0A0;
}
[data-theme="dark"] {
    --background-main: #222222;
    --background-light: #333333;
    --background-dark: #050505;
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #777777;
    --border-color: #404040;
}
:root {
    background-color: var(--background-dark);
}
